body {
    background: #c0c0c0;
}

aside .tree-view {
    overflow-y: scroll;
    width: 100%;
}

html {
    overflow-y: scroll;
}

aside {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 8px;
    display: flex;
    align-items: stretch;
}

main {
    width: 65rem;
    margin-left: 240px;
    margin-bottom: 60px;
} 

h1 {
    font-size: large;
}